*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
html
{
  scroll-behavior: smooth;
}
ul
{
  list-style: none;
}
a
{
  text-decoration: none;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  padding-left:15px;
  padding-right: 15px;
}

@media (min-width:768px)
{
  .container
  {
    width:750px;
  }
}
@media (min-width:992px)
{
  .container
  {
    width:970px;
  }
}
@media (min-width: 1200px)
{
  .container {
    width: 1170px;
  }
}

/* start header */
.header
{
  position: absolute;
  width:100%;
  top:0;
  right: 0;
  z-index: 555;
  background-color: rgba(0 ,0 , 0, .5);

}
.header .container
{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header .container ul
{
  display: flex;
  color: white;
}
@media (max-width:767px)
{
  .header .container ul
  {
    display: none;
  }
}
.header ul li a
{
  padding: 30px 10px;
  font-size: 22px;
  color:white;
}
.header ul li a:hover
{
  color:#DE9D3C;
}
/* landing */
.landing
{
  background-image: url(../images/library.jpg);
  background-size: cover;
  min-height: 500px;
  position: relative;
}

.landing::after
{
  content: "";
  position: absolute;
  top:0;
  right: 0;
  width:100%;
  height:100%;
  background-color: rgba(0 ,0 , 0, .4)
}
.landing .text
{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 333;
}
.landing h1
{
  font-size: 60px;
  font-weight: normal;
}
.landing span
{
  color:#DE9D3C;
}
/* crea */
.creat
{
  margin-top: 30px;
  padding: 40px;
  background-color: white;
  box-shadow: 2px 2px 25px rgba(7,7,7, .2);
}
.creat .container
{
  display: flex;
}

.creat img
{
  width:300px;
}
.creat  .info
{
  margin-right: 60px;
}
.creat .info h2
{
  font-weight: normal;
  color:#DE9D3C;
  font-size: 40px;
  margin-bottom: 20px;
}
.creat .info p
{
  line-height: 1.5;
  color: #333;
}
@media (max-width:767px)
{
  .creat .container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .creat  .info
  {
    margin-right: 0px;
  }
  .creat .info p
  {
    text-align:center;
  }
}

.specialH
{
  text-align: center;
}
.specialH h1
{

  position: relative;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 80px;
}
.specialH h1::before
{
  content: "";
  position: absolute;
  width:120px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  transform:translateX(-50%);
  background-color: black;
}
.specialH h1::after
{
  content: "";
  position: absolute;
  width:20px;
  height: 20px;
  bottom: -40px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  background-color: #FFF;
}
/* Cbook */
.Cbooks
{
  padding-top:100px;
  padding-bottom: 100px;
}
/* cards */
.card
{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 30px;

  text-align: center;
}
.card .box
{
  padding:30px;
  border: 1px solid #777;
  border-radius: 5px;
  height: 300px;
}
.card .images
{
  width: 80%;
  height: 90%;
  text-align: center;
  margin: auto;
}
.card .images img
{
  width:100%;
  max-width: 100%;
  max-height: 100%;
}
.card .info
{
  margin-top: 12px;
}
.card .info h2
{
  font-weight: normal;
  font-size: 20px;
}
