*
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  margin:0;
  padding: 0;

}
html
{
  scroll-behavior: smooth;
}
ul
{
  list-style: none;
}
a
{
  text-decoration: none;
}
.container
{
  margin-left:auto;
  margin-right:auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width:768px)
{
  .container
  {
    width: 750px;
  }
}
@media (min-width:992px)
{
  .container
  {
    width: 970px;
  }
}
@media (min-width:1200px)
{
  .container
  {
    width:1170px;
  }
}
.header
{
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 555;
  background-color: rgba(0,0,0,.5);
}
.header .container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container ul
{
  display: flex;
}
@media (max-width:767px)
{
  .header .container ul
  {
    display: none;
  }
}
.header ul li a
{
  padding:30px 10px;
  font-size:22px;
  color:white;
}
.header .container ul a:hover
{
  color: #DE9D3C;
}
/* landing */
.landing
{
  position: relative;
  background-image: url(../images/library.jpg);
  height: 500px;
}
.landing::after
{
  content: "";
  position:absolute;
  right:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}
.landing .text
{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 333;
  text-align: center;
}
.landing h1
{
  font-size: 50px;
  font-weight: normal;
}
@media (max-width:767px)
{
  .landing h1
  {
    font-size: 30px;
    font-weight: normal;
  }
}
.landing h1 span
{
  color: #DE9D3C;
}
/* creators */
.creators
{
  padding-bottom: 100px;
}
.specialH
{
  text-align:center;
}
.specialH h1
{
  position: relative;
  font-weight: normal;
  margin-bottom: 70px;
  font-size: 50px;
}
@media (max-width:767px)
{
  .specialH h1
  {
    font-size: 40px;
  }
}
.specialH h1::before
{
  content:"";
  position: absolute;
  height:2px;
  width:120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  bottom:-30px;
}
.specialH h1::after
{
  content: "";
  position: absolute;
  width:20px;
  height:20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 2px solid #333;
  background-color: white;
  bottom: -40px;
}
.creators .MoreC
{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  grid-gap:20px;
  text-align: center;
}
.MoreC .Box
{
  padding-bottom: 15px;
  background-color: white;
  box-shadow: 2px 2px 25px rgba(7,7,7, .2);
  border-radius: 15px;
  padding-top: 30px;
  transition: .5s;
  height: 600px;
}
.MoreC .Box:hover
{
  transform: scale(1.05);
}
.MoreC .Box .images
{
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MoreC .Box .images img
{
  width: 50%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.MoreC .text
{
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.MoreC .text h1
{
  font-weight: normal;
  color:#000;
}
.MoreC .text p
{
  color:#777;
  line-height: 1.6;
  margin-bottom: 10px;
  text-align: justify;
}
/* Footer */
.Footer
{
  background-color: #DE9D3C;
  text-align: center;
  padding:30px 10px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
}
.Footer ul
{
  display: flex;
}
.Footer li
{
  margin-right: 10px;
}
